@font-face {
  font-family: "Lyons";
  src: local("Lyons"), url("/assets/fonts/Lyons.ttf") format("ttf");
}

#wanderways-access-button {
  background-origin: border-box;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(#000000aa, #00000000),
    url("/assets/earth.png");
  background-position: top 0 left 50px;
  background-size: cover;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}
#wanderways-access-button:hover {
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#wanderways-access-button img {
  object-fit: cover;
}

section#quote {
  margin: 1rem auto 0;
  max-width: 580px;
}
section#quote q {
  font-family: "Lyons";
  font-size: 1.25rem;
  display: block;
  text-align: center;
  margin-bottom:-1rem;
}
section#quote q::before,
q::after {
  font-size: 2rem;
  color: grey;
  margin: 0 0.5rem;
}
section#quote q::after {
  vertical-align: text-top;
}

div#team-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}
section.team-card {
  display: flex;
  flex : 1 0 490px;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  flex-shrink: 1;
  border-radius: 0.5rem;

  -webkit-box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
section.team-card header {
  display: flex;
  width: 100%;
  gap: 0.25rem;
}
section.team-card header div {
  display:flex;
  flex-direction:column;
  justify-content:center;
}
section.team-card header div a {
  color: currentcolor;
  font-size:1.05rem;
  font-weight:600;
}
section.team-card header img {
  max-width: 5rem;
  max-height: 5rem;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}
section.team-card ul.role-list {
  display: flex !important;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items:stretch;
}
section.team-card ul li {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 !important;
  list-style-type: none;
  background-color: #88888811;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  flex-grow: 1;
  text-align: center;
}

#motto-container,
.motto {
  display: flex;
  flex-wrap: wrap;
  align-items: strech;
  justify-content: center;
  gap: 1rem;
}
.motto {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 6rem;
}
.motto img {
  max-height: 3rem;
}
.motto span {
  text-align: center;
}

nav.home-section-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-basis: 7rem;
  justify-content: center;
}
nav.home-section-container a {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid;
  background: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color) !important;
  cursor: pointer !important;
  text-align: center;
}

nav.home-section-container a img {
  max-width: 5rem;
  max-height: 5rem;
  filter: invert(1);
}

p {
  text-align: justify;
}

.good {
  color: green;
}
.bad {
  color: red;
}
