#wanderways-access-button{
  background-origin: border-box;
  background-repeat: no-repeat;
  display:inline-block;
  background-color:#000000;
  padding:1rem;
  border-radius:0.5rem;
  background-image:linear-gradient(#000000aa, #00000000),
  url('/assets/earth.png');
  background-position: top 0 left 50px;
  background-size: 110%;
  transition:  background-size ease-in-out .4s,background-position ease-in-out .4s;
}
#wanderways-access-button:hover{
  background-position: center;
  background-size: 100%;
}

nav.home-section-container{
  display:flex;
  gap:0.5rem;
  flex-wrap:wrap;
  flex-basis:7rem;
  justify-content:center;
}
nav.home-section-container a{
  display:flex;
  gap:0.5rem;
  flex-direction:column;
  align-items:center;
  padding:1rem;
  border-radius:0.5rem;
  border:solid;
  background:var(--md-primary-fg-color);
  color:var(--md-primary-bg-color) !important;
  cursor:pointer !important;
  text-align:center;
#motto-container,
.motto {
  display: flex;
  flex-wrap: wrap;
  align-items: strech;
  justify-content: center;
  gap: 1rem;
}
.motto {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 6rem;
}
.motto img {
  max-height: 3rem;
}
.motto span {
  text-align: center;
}

nav.home-section-container a img{
  max-width:5rem;
  max-height:5rem;
  filter: invert(1);
}

p {
  text-align: justify;
}

.good{
  color:green;
}
.bad{
  color:red;
}